// ==========================================================================
// components
// ==========================================================================
  /* botoes */
    .btn {
      display: inline-block;
      padding: 4px 12px;
      margin-bottom: 0;
      font-size: 14px;
      line-height: 20px;
      color: #333333;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background: #f5f5f5;
      border: 1px solid #cccccc;
      .transition(0.5s, ease-out);
    }

    .btn-success {
      background-color: #43AC6A;
      border-color: #368a55;
      color: #FFFFFF;

      &:hover {
        background-color: #368a55;
      }
    }

    .btn-alert {
      background-color: #f04124;
      border-color: #cf2a0e;
      color: #FFFFFF;

      &:hover {
        background-color: #cf2a0e;
      }
    }




/*
http://tableless.com.br/criando-seu-framework-html-css/
http://getbootstrap.com/2.3.2/components.html
http://foundation.zurb.com/docs/components/buttons.html

*/