// ==========================================================================
// vars
// ==========================================================================
	/* cores */
		@black  : #000;
		@white  : #fff;
		@blue   : #3994d1;
		@purple : #662d91;

	/* fontes */
		@arial 		: 'Arial';
		@verdana 	: 'Verdana';